<p style="color: green"><%= notice %></p>

<h3>Name:<%= @recipe.name %> </h3>
<p>Preparation Time: <%= @recipe.preparation_time%> </p>
<p>Cooking Time:<%= @recipe.cooking_time %> </p>
<p>Description:<%= @recipe.description %> </p>

<%# <div>
  <%= link_to "Generate Shopping List", shopping_lists_path %>
  <%# <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe.id) %>
<%# </div>   ffsfsf %>

<table class="table table-striped">
    <thead>
    <% @ingredients.each do |ingredient|%>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><%= ingredient.food.name %></td>
          <td><%= ingredient.food.quantity %></td>
          <td><%= ingredient.food.price %></td>
          <td><%= ingredient.food.price_to_i * ingredient.quantity_to_i %></td>
          <td>
            <%= link_to "Modify", edit_recipe_recipe_food_path(recipe_id: @recipe.id, id: ingredient.id) %>
            <%= button_to "Remove", recipe_recipe_food_path(recipe_id: @recipe.id, id: ingredient.id), method: :delete %>
          </td>
      </tr>
    </tbody>
    <% end %>
</table>