<h1>Add Ingredient</h1>

<div>
  <%= form_with model: @recipe_food, url: recipe_recipe_foods_path do |form| %>

    <br>
    <p>Select Ingredient</p>
    <br>

    <p>Food name</p>
    <%= form.select :food_id, @foods.map { |food| [food.name, food.id] }, {}, { class:'form-select'} %>

      <br>
      <p>measurement_unit</p>
    <%= form.select :food_id, @foods.map { |food| [food.measurement_unit, food.id] }, {}, { class: 'form-select'} %>

    <br>
    <p>Quantity</p>
    <%= form.select :food_id, @foods.map { |food| [food.quantity, food.id] }, {}, {class: 'form-select'} %>
    <br>
    <%= form.submit "Add Ingredient" %>
  <% end %>
</div>
